<%= form_with scope: :category, model: @category, local: true do |f| %>


<div class="container-lg">
  <h2> add category </h2>
  <% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  <%end%>

<div class="field">
  <div class="field-label"><%= f.label :category_name %></div>
  <div class="field-field"><%= f.text_field :category_name, autofocus: true %></div>
</div>
<div class="field">
  <div class="field-label"><%= f.label :category_body, "category description"%></div>
  <div class="field-field"><%= f.text_field :category_body %></div>
</div>

<div class="field hidden">
  <th><%= f.number_field :user_id, id: :category_user_id, value: current_user.id, type: :hidden %></th>
</div>

<div class = "action-buttons-edit">
  <%= f.submit :"Add Category" %>
  <button type="button"><%= link_to "Back", categories_path %></button>
</div>


<% end %>
</div>